html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.page-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.flex {
  display: flex;
  height: 100%;
}
.col {
  width: 50%;
  height: 100%;
}
.img-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.img-container img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.infos-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10%;
}
.infos-container img {
  display: block;
  width: 80%;
  margin: 0 auto;
}
.infos-container h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  font-family: 'Courier New', Courier, monospace;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials a {
  display: block;
  margin: 0 10px;
}
.socials a img {
  width: 40px;
  height: 40px;
  transition: all 0.5s ease-in-out;
}

.socials a img:hover {
  transform: scale(1.2);
}
